{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Macky's Mineral: A magnificant catalog of minerals{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <div class="bounds">
        <div class="grid-100">
            <a href="#">
                <h1 class="logo__name text-centered">Macky's Mineral</h1>
            </a>
            <p class="logo__text text-centered">They're not rocks!</p>
        </div>
        {% block content %}{% endblock %}
    </div>
    <div class="minerals_random">
        <a class="minerals_anchor" href="#">Show random mineral</a>
        <a class="minerals__anchor" href="{% url 'rocks:load_rocks' %}">Load Rocks</a>
    </div>
</body>
</html>