{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Macky's Mineral: A magnificent catalog of minerals{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <div class="bounds">
        <div class="grid-100">
            <a href="{% url 'rocks:rock_list' %}">
                <h1 class="logo__name text-centered">Macky's Mineral</h1>
            </a>
            <p class="logo__text text-centered">They're not rocks!</p>
        </div>
        <div class="grid-100">
            <table class="letter">
                <tr>
                    {% for letter in 'ABCDEFGHIJKMLNOPQRSTUVWXYZ' %}
                        <td><a href="{% url 'rocks:sort_rocks' letter %}">{{ letter }}</a></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        
        {% block content %}{% endblock %}
        
    </div>
    
    
    <div class="minerals__random">
        <a class="minerals__anchor" href="{% url 'rocks:random_rock' %}">Show Random Mineral</a>
        <a class="minerals__anchor" href="{% url 'rocks:load_rocks' %}">Load Rocks</a>
    </div>
</body>
</html>